/*Fonts*/
@font-face {
    font-family: 'Futura';
    src: url('assets/fonts/futura/Futura-Medium.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('assets/fonts/futura/Futura-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('assets/fonts/futura/Futura-Bold.woff2') format('woff2'),
        url('assets/fonts/futura/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'proxima_novabold';
    src: url('assets/fonts/proximaNova/proximanova-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular';
    src: url('assets/fonts/proximaNova/proximanova-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novathin';
    src: url('assets/fonts/proximaNova/proximanova-thin-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanova-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_abold';
    src: url('assets/fonts/proximaNova/proximanovaa-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovaa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_aregular';
    src: url('assets/fonts/proximaNova/proximanovaa-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovaa-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_sbold';
    src: url('assets/fonts/proximaNova/proximanovas-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovas-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_sregular';
    src: url('assets/fonts/proximaNova/proximanovas-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/proximaNova/proximanovas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






body {
  background-color: white;
  padding-top: 0 auto;
  color: #1e182b;
  margin: 0;
  font-family: 'proxima_novaregular', sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Futura', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 40px;
}

p {
  line-height: 1.5;
}

.button.inverse {
  background: transparent;
  border: 3px solid white;
  color: white !important;
  position: absolute;
  font-size: 10px;
  /*width: 175px;*/
}

.button.inverse:hover {
  background-color: transparent;
}


/*  ==========  ANDREW HEADER  =============*/
header {
	text-transform: uppercase;
	font-family: 'Futura', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 30px;
    height: 20px;
    border-bottom: 1px solid #e0e0e0;
}

header .logo {
  position: absolute;
  left: 50px;
  color: #1e182b;
  font-weight: bold;
  top: 29px;
  font-size: 16px;
}

header nav {
  position: absolute;
  right: 50px;
}

header nav a {
  font-weight: normal;
  margin-right: 30px;
  color: #1e182b;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 28px;
  border-bottom: 2px solid transparent;
  transition: border-bottom .3s;
}

header nav a:hover {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #684d94;
}

header nav a:last-child {
  margin-right: 0;
}

#hamburger {
    position: absolute;
    right: 50px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 22px;
}

.hamburger_line {
    width: 31px;
    background-color: #1e182b;
    margin: 7px 0;
    height: 3px;
    border-radius: 5px;
    transition: 0.4s;
}

.change1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px) ;
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change2 {
    opacity: 0;
}

.change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.dropdown {
  position: fixed;
  top: 81px;
  background: #684d94f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  left: 0;
  display: none;
}

.flex {
  display: flex !important;
}

.noScroll {
  overflow: hidden;
}

.dropdown a {
  color: white;
  margin-bottom: 20px;
}
/*  ==========  ANDREW HEADER END  =============*/




/*  ==========  HOME HERO SECTION  =============*/
.hero {
  height: 550px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.hero .text_box {
  margin-left: 120px;
  transition: margin-top .5s;
}

.circle_wrapper {
  position: absolute;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  font-size: 25px;
}

.home_hero {
  border-bottom: 1px solid #eaeaea;
}

.home_hero .button {
  margin-top: 10px;
}

.circle_wrapper {
  position: absolute !important;
  right: 8%;
  width: 43% !important;
  height: auto !important;
  margin-top: 300px;
  transition: margin-top 3s;
}

.circle_wrapper img {
  width: 100% !important;
  height: auto !important;
}

.moveUp {
  margin-top: 130px;
}
/*  ==========  HOME HERO SECTION END =============*/




/*  ==========  CLIENT LOGO SECTION =============*/
.client_logos {
  background-color: white;
  padding: 150px 100px;
  /*border-bottom: 1px solid #eaeaea;*/
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.client_logos > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logos {
  display: flex;
  justify-content: flex-start;
  margin-right: 50px;
  margin-bottom: 0;
}

.client_logos .button {
  margin-top: 20px;
}

.client_logos p {
  margin-top: 0;
}

.logos a {
  position: relative;
  cursor: pointer;
  height: 150px;
  width: 150px;
  /*background: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


.logos a img {
  max-height: 120px;
  width: 100%;
  box-shadow: 0px 0px 15px #00000021;
}

.logos a .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #684d94;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;

}

.logos a .overlay p {
  font-weight: bold;
  color: white;
  font-family: 'Futura', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
}
/*  ==========  CLIENT LOGO SECTION =============*/





/*  ==========  ABOUT US SECTION =============*/
.about_us {
  padding: 150px 100px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  background-color: #f7f7f7;
}

.services {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  align-items: flex-end;
  margin: auto;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

.service img {
  max-width: 80px;
  width: 100%;
  margin-bottom: 15px;
}

.service p {
  margin-top: 0px;
}

.about_us {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.about_text {
  padding-right: 40px;
  width: 60%;
}

.about_text p {
  margin-right: 50px;
  margin-bottom: 30px;
}

.float_right_img {
  width: 40%;
}

.float_right_img {
  background-image: url('assets/about_rock.jpeg');
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_us img {
  width: 250px;
  box-shadow: 0px 0px 15px #00000021;
  border-radius: 100%;
}
/*  ==========  ABOUT US SECTION END =============*/





/*  ==========  GROWTH SECTION =============*/
.growth {
  padding: 150px 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.growth div {
  width: 40%;
}

.growth div:last-child {
  margin-top: auto;
}

.lets_talk.button {
  margin: 50px auto;
  margin-top: -40px;
  display: block;
}
/*  ==========  GROWTH SECTION END =============*/





/*  ==========  FOOTER =============*/
footer {
  background-color: #1e182b;
  padding: 75px 0;
  margin-top: 100px;
  padding-top: 0;
  overflow: hidden;
  position: relative;
}

footer .logo {
  color: white;
  font-size: 16px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: 'Futura', sans-serif;
  padding: 30px 0;
  padding-bottom: 50px;
  border-bottom: 1px solid #ffffff4d;
  margin: 0;
}

.footer_holder {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 32px;
  position: relative;
  left: 74px;
}

footer .morgan{
  text-align: center;
  font-size: 13px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #8d879f;
  top: 49px;
}

.footer_holder > div {
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid #ffffff4d;
}

.footer_holder > div:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.links a {
  display: block;
  color: white;
  margin-bottom: 13px;
  font-size: 15px;
  transition: color .3s;
}

.left_center {
  width: inherit;
  text-align: left;
  margin: auto;
}

.links a:hover {
  color: #ffffffbf;
}

.news {

}

.news p {
  color: white;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.news p.industry {
    color: white;
    font-weight: bold;
    font-family: 'proxima_novabold', sans-serif;
    /*text-align: center;*/
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons img {
  width: 33px;
}

.updates p {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  margin-top: 0;
}

.updates input.input {
  width: 200px;
  padding: 10px;
  background: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
}

.updates form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.updates .button {
  padding: 10px 30px;
  margin-left: 10px;
}
/*  ==========  FOOTER END =============*/




/*  ==========  TEAM PAGE  =============*/
.about_hero {
  background-image: url('assets/team_hero.jpg');
  background-size: cover;
  background-position: center;
  background-color: #ffffffb5;
  background-blend-mode: soft-light;
}

.team_list {
  padding: 100px 30px;
}

.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team {
  margin: 1%;
  position: relative;
}

.team img {
  max-width: 300px;
  width: 100%;
  transition: filter .5s;
  cursor: pointer;
}

.grey {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.team .button.inverse {
  display: none;
  background: transparent;
  border: 3px solid white;
  color: white !important;
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  width: 175px;
}

.team .button.inverse:hover {
  background-color: transparent;
}

.team .button a {
  font-size: 12px;
  color: white;
}

.team h4 {
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.team h6 {
  margin-left: 20px;
  margin-top: 10px;
}
/*  ==========  TEAM PAGE END =============*/



/*  ==========  PORTFOLIOS PAGE  =============*/
.portfolio_hero {
  background-image: url('assets/portfolio_hero.png');
  background-size: cover;
  background-position: bottom center; 
  background-color: #ffffff87;
  background-blend-mode: soft-light;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 30px;
  width: 80%;
  margin: auto;
}

.portfolio a {
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 15px #00000021;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale .5s;
}

.portfolio a:hover {
  transform: scale(.98);
}

.portfolio img {
    height: 100%;
    max-height: 100px;
    max-width: 100%;
}

/*  ==========  PORTFOLIOS PAGE END  =============*/



/*  ==========  PORTFOLIO PAGE  =============*/
/*.logo_hero {
  height: 150px;
  background-image: url('assets/certify_hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #674d94;
  background-blend-mode: soft-light;
}*/

.portfolio_hero {
    border-bottom: 1px solid #eaeaea;
    background-size: cover;
    background-position: center;
    background-color: #ffffff87;
    background-blend-mode: soft-light;
}

.a_portfolio {
    background-image: url('assets/certify_hero.jpg');
}

.portfolio_onepay {
    background-image: url('assets/onepay_hero.jpg');
}

.portfolio_tag {
    background-image: url('assets/tag_hero.jpg');
}

.portfolio_connect {
    background-image: url('assets/connect_hero.jpg');
}

.circle_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 0px 15px #0000002b;
  border-radius: 100%;
  width: 300px !important;
  height: 300px !important;
  background: white;
}

.circle_logo img {
  width: 180px !important;
}

.client_head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 75px 30px;
  border-bottom: 1px solid #eaeaea;
}

.client_head p {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 26px;
}

.client_body {
  padding: 150px 100px;
  text-align: center;
  padding: 100px 100px;
   background: #f7f7f7; 
  /* border-bottom: 1px solid #eaeaea; */
  border-bottom: 1px solid #eaeaea;
}

.client_body p {
  text-align: left;
  max-width: 800px;
  margin: auto;

}

.client_body img {
  width: 100%;
  max-width: 500px;
}

.technology {
  padding: 150px 100px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.technology img {
  max-width: 500px;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}
/*.tech_text {
  width: 50%;
  padding-right: 50px;
}

.technology .float_right_img {
  background-image: url('assets/certify_img.png');
}*/
/*  ==========  PORTFOLIO PAGE END =============*/




/*  ==========  PERSON PAGE  =============*/
.person_hero {
  border-bottom: 1px solid #eaeaea;
}

.person_hero .circle_wrapper {
  overflow: hidden;
}

.person_hero .circle_wrapper img {
  width: 330px !important
}

.quotes {
  padding: 75px 0;
  border-bottom: 3px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quotes p {
  padding: 0 50px;
  font-size: 20px;
}

.quotes span {
    font-size: 65px;
    position: relative;
    left: 18px;
    font-family: 'Futura', sans-serif;
    color: #674d94;
}

.bio {
  padding: 100px;
}
/*  ==========  PERSON PAGE END  =============*/


.button {
	background-color: #684d94;
	border: none;
	color: white !important;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Futura', sans-serif;
  font-weight: bold;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color .3s;
}

.button:hover {
  background-color: #513d73;
  cursor: pointer;
}

.navbar {
	margin-bottom: 0;
	border: none;
  	text-transform: uppercase;
  	padding: 10px;
  	padding-bottom: 0;
  	color: black;
}

.navbar-brand {
	padding: 0 15px;

}

.navbar li a, .navbar .navbar-brand {
	color: black;
}

.navbar-nav li a:hover {
	border-bottom: 3px solid #fff;
	background-color: none;
}


.navbar-reverse .navbar-toggle {
	border-color: transparent;
}

.active {
    border-bottom: 2px solid black;
    color:black !important;
    background-color: none !important;
}


#container {
	position: relative;
	width: 100%;
	padding: 0px;
}

#portfolio-section {
	background-color: #f2f2f2 !important;
}

#section1 {
	margin-left: 15px;
	padding: 40px;
	padding-left: 50px;
}



/*Circle Pie Chart style*/
.circle_wrapper {
    position: relative;
    width:336px;
    height:225px;
}

.circle_wrapper img {
    display: block;
    width: 336px;
    height: 225px;
}

/* Masks */
.circle_wrapper > div[class^='mask'] {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
}

.mask_left {
    left: 0;
    right: 50%;
}

.mask_right {
    left: 50%;
    right: 0;
}

/* Pseudo elements in masks */
.circle_wrapper > div[class^='mask']::before {
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.mask_left::before {
    animation: leftHalf 2s 0s 1 linear forwards;
    transform-origin: 100% 50%; /* center right */
}
.mask_right::before {
    animation: rightHalf 2s 0s 1 linear forwards;
    transform-origin: 0% 50%; /* center left */
}

@keyframes leftHalf {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}
@keyframes rightHalf {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(180deg); }
    100% { transform: rotate(180deg); }
}

.img pie-image {
	height="225";
	padding-top: 10px;
	margin-bottom: 0;
}



.portfolio-img {
	background: #f2f2f2 !important;
	padding-bottom: 40px;
	/*padding: 50px;*/
	/*margin-left: 15px;*/
	/*padding: 40px;*/
	/*padding-left: 50px;*/
}

.portfolio-img img {
	/*padding: 5px;*/
}

#services {
	margin-left: 15px;
	padding: 40px;
	padding-left: 50px;
}

.services {
	padding-top: 50px
}

.caption {
	text-align: center;
}

#growth {
	margin-left: 15px;
	padding: 35px;
	padding-left: 50px;	
}

#growth button {
	display: block;
	margin: 0 auto;
	margin-top: 50px; 
}


.flex-container {
	padding: .5vw;
  font-size: 0;
  
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  
  display: flex;
}

.flex-container div {
	-webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}

.flex-container div img {
	width: 75%;
}

.footer {
	background-color: #1e182b;
}

.footer .header {
	text-align: center;
	color: white;
}

.footer hr {
	padding: 0;
	color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.footer .row {
    margin-bottom: 0 auto;
}

.footer ul {
	text-align: center;
}

.footer ul li {
	color: white;
	list-style-type: none;
	display: inline-block;
	padding: 5px;
}

.footer ul li a {
	color: white;
}

#social-icons li img {
	height: 20px;
	width: 20px;
}

.footer .form-control {
	margin-left: 600px;
	display: inline;
}

.footer #signup {
	margin: 0 auto;
}







/*OUR TEAM STYLE*/
.team-list #info .button {
	position: absolute;
	width: 500px;
	left:0;
	right:0;
	top: 350px;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
}

.team-list #info .button a {
  width: 200px;
  padding: 12px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.team-list #info:hover .button {
  opacity: 1;
}

/*Individual Team Page Style*/
#sectionline hr {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#profSection {
	background-color: #f2f2f2;
	width: 100%;
}

#profSection .header {
	padding: 50px;
	margin: 50px;
}

#profSection .profile img {
	margin-top: 50px
}

blockquote {
	margin-top: 10px;
    padding: 6px 16px;
    border: none;
    quotes: "\201C" "\201D";
    display: inline-block;
    position: relative;

}

blockquote:before { 
    content: open-quote;
    font-weight: bold;
    position:absolute;
    top:30px;
    left: 7px;
} 
blockquote:after { 
    content: close-quote;
    font-weight: bold;
    position:absolute;
    top:30px; right: 5px;
}

blockquote p {
	margin-top: 15px;
	padding: 15px;
}

.about {
	margin-left: 50px;
	padding: 45px;
	padding-left: 75px; 
}

.about .header {
	padding-bottom: 10px;
}

.navbar-brand{
	font-family: 'Futura-Bold', sans-serif;
    font-weight: 800;
    font-style: normal;
}

.navbar #rreMenu li a {
    font-family: 'Futura', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.header{
    font-family: 'Futura', sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
	font-family: 'proxima_novathin', sans-serif;
	color: #1e182b;
}

#container button {
	font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-style: normal;
}

/*PORTFOLIO STYLE*/
#portfolio {
	background-color: #684d94;
	padding-top: 0;
}
/*Symbol image */
#portfolio img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

#certify img {
	margin-left: 75px;
}

#certify .header {
	padding: 175px;
	margin-left: 45px;
}

#story {
	margin-left: 75px;
	padding: 50px;
}

#story .header {
	padding-bottom: 20px;
}





/*  ============  MEDIA QUERIES  ===============*/
@media ( max-width: 1100px ) {
  .updates {
    width: 100%;
    text-align: center;
  }

  .footer_holder {
    flex-wrap: wrap;
    position: initial;
  }

  .news, .updates {
    margin-right: 0 !important; 
  }

  .left_center {
    width: max-content !important;
    margin-top: 30px;
  }


}


@media ( max-width: 1000px ) {

  .client_logos {
    padding: 100px 30px;
  }

  .client_logos > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  .client_logos .logos {
    margin-right: 0;
  }

  .client_logos h2 {
    text-align: center;
  }

  .logos {
    justify-content: center;
  }

  .logos a {
    margin: 10px;
  }

  .growth {
    flex-wrap: wrap;
  }

  .growth div {
    width: 100%;
    margin-bottom: 50px;
  }

  .growth div:last-child {
    text-align: center;
    margin-bottom: 0;
  }

  .growth div img {
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    max-width: 320px;
  }

  .view_more {
    display: block;
    text-align: center;
  }

  .about_us {
    flex-wrap: wrap;
    margin-bottom: 300px;
  }

  .about_text {
    padding-right: 0;
    width: 100%;
  }

  .float_right_img {
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: -300px;
    top: auto;
  }
}

@media ( max-width: 900px ) {
  .home_hero .text_box {
    margin-top: -157px;
  }

  .circle_wrapper {
    width: 50% !important;
  }

  .circle_logo {
    width: 300px !important;
  }

  .moveUp {
    margin-top: 150px;
  }

  .portfolio img {
    max-height: 80px;
  }

  .portfolio a {
    height: 150px;
    width: 150px;
  }

  .portfolio {
    padding: 100px 15px;
  }

}



@media ( max-width: 800px ) {
  header nav {
    display: none;
  }

  #hamburger {
    display: block;
  }

  .text_box {
    padding: 0 30px;
    text-align: center;
    width: 100%;
    margin-left: 0 !important;
  }

  .circle_wrapper {
      position: absolute !important;
      width: 60% !important;
      margin-top: 300px;
      left: 50%;
      transform: translateX(-50%);
      right: auto;
  }

  .circle_logo {
    width: 200px !important;
    height: 200px !important;
  }

  .circle_logo img {
    width: 130px !important;
  }

  .portfolio_hero, .person_hero {
    align-items: flex-start;
  }

  .portfolio_hero .text_box, .person_hero .text_box  {
    margin-top: 60px;
  }

  .moveUp {
    margin-top: 220px;
  }

  .circle_logo.moveUp {
    margin-top: 260px;
  }

  .about_us, .growth, .team_list, .bio, .technology {
    padding: 100px 30px;
  }

  .services {
    flex-wrap: wrap;
  }

  .service {
      margin-bottom: 50px;
      padding-bottom: 50px;
      border-bottom: 1px solid #eaeaea;
  }

  .client_head {
    flex-wrap: wrap;
    justify-content: center;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 100px 30px;
    border-bottom: 3px solid #eaeaea;
  }

  .client_body {
    padding: 100px 30px;
  }

  .client_head img {
    width: 100%;
    max-width: 300px;
  }

  .client_head > div {
    margin-left: 0;
  }

  .about_us {
    text-align: center;
  }

  .about_text p {
    margin-right: 0;
  }

  .footer_holder > div {
    width: 100%;
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff4d;
  }

  .footer_holder > div:last-child {
    border-bottom: none;
  }

    footer {
      padding-bottom: 20px;
    }
}



@media only screen 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    header {
      height: 8px;
    }

    header .logo {
      left: 20px;
      top: 26px;
      font-size: 14px;
    }

    h2 {
      font-size: 22px;
    }

    .home_hero h1 {
      font-size: 33px;
    }

    .home_hero p {
      font-size: 20px;
    }

    #hamburger {
      right: 23px;
      top: 17px;
      transform: scale(.7);
    }

    .circle_wrapper {
      width: 70% !important;
    }

    .circle_logo {
      width: 200px !important;
      height: 200px !important;
    }

    .person_hero, .about_hero {
      height: 315px;
    }

    .dropdown {
      top: 69px;
    }

    .portfolio {
      width: 90%;
    }

    .portfolio a {
      height: 124px;
      width: 124px;
    }

    .portfolio img {
      max-height: 65px;
    }

    .logos a {
      height: 106px;
      width: 106px;
    }

    .technology {
      text-align: center;
    }


}


    